description = "Footer Partial"
==
<?php
function onStart()
{
    $this['mailto'] = "info@stichting-era.nl";
    $this['adres_straat'] = "Westerveen 23";
    $this['adres_postcode'] = "9751 HV";
    $this['adres_plaats'] = "Haren";
    $this['IBAN'] = "NL20 INGB 0004 2783 30";
    $this['stichtingnaam'] = "Stichting ERA";
    $this['KVK'] = "02100590";
}
?>
==
{##}
{# Footer Start #}
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 ml-auto col-sm-6">
				<h4>Contact</h4><br>
				<h6 class="adresgegevens">
					{% if activeLocale == 'nl' %}
						{{ this.theme.nl_naam }}
					{% else %}
						{{ this.theme.uk_naam }}
					{% endif %}
					<br>
					{{ this.theme.adres_straat }},<br>
					{{ this.theme.adres_postcode_plaats }}
				</h6>
				
				<h6> KvK nr: {{ this.theme.kvk_nummer }}					
				<h6><a href="mailto:{{ this.theme.emailadres }}" >{{ this.theme.emailadres }}</a></h6>					

			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4"></h4>
					<div class="logo mb-4">
					    {% if activeLocale == 'nl' and this.theme.theme_logo_nl is not empty %}
							<img src="{{ this.theme.theme_logo_nl|media }}" class="img-fluid w-75">
						{% else %}
							<img src="{{ this.theme.theme_logo_uk|media }}" class="img-fluid w-75">
						{% endif %}						
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{# Footer Close #}