<style>
    .section{
        background-color: white; !important;

    }
    #navbar a{
      color: {{ this.theme.theme_primary_color }} !important;

    }

    .slider {
        {% if this.theme.theme_background_image is not empty %}
            background: url("{{ this.theme.theme_background_image|media }}") no-repeat 50% 30%;  
        {% else %}
            background: url("{{ 'assets/images/achtergrond.jpg'|theme }}") no-repeat 50% 30%;
        {% endif %} 
        background-size: cover;
    }
    #navbar{
        z-index:100000;
        background-color: {{ this.theme.theme_navbar_color }};
        border-bottom: 10px solid {{ this.theme.theme_third_color }};
        box-shadow: 0px 10px 1px {{ this.theme.theme_navbar_color }};
    }
    .footer{
        background-color: {{ this.theme.theme_footer_color }};
        border-top: 10px solid {{ this.theme.theme_navbar_color }};
        box-shadow: 0px -10px 1px {{ this.theme.theme_footer_color }};
    }
    
    h1, h2, h3{
        text-transform: uppercase;
        
    }
    h3, h4, .h6, button h6, h3 span, button.btn-link, .arrow, .subtitle, .navbar-toggler{
        color: {{ this.theme.theme_primary_color }} !important;
    }
    .nav-item .active {
        background-color: red!important;
    }
    .dropdown-item:hover {
        background: #666;
    }
    
    a:focus, a:hover {
         color: {{ this.theme.theme_secondary_color }} !important;
    }
    a.navbar-brand span {
        color: {{ this.theme.theme_secondary_color }}
    }
    .active a {
        color: {{ this.theme.theme_secondary_color }}!important;
        
    }
    section.slider::before {
        background: rgba(0,0,0,0.8);  
    }
    .down {
        border-color: #666!important;
    }
    .footer a:hover {color: #14A085!important;}

    .btn-main, a.navbar-brand span, .bg-primary {
        background-color: {{ this.theme.theme_secondary_color }}
    }
    .btn-main:hover{
        background-color: {{ this.theme.theme_third_color }};
        color: rgb(255,255,255)!important;;
    }
    
</style>