$light: #fff;

$primary-color: #54ab03;
$secondary-color: #f5f8f9;
$event-color: #c54041;
$law-color: #b99769;
$h4-color: rgba(15, 139, 184,1);
$black: #242424;
$border-color:#dedede;
//$primary-font:'Montserrat', sans-serif;
$primary-font:'M PLUS Rounded 1c', sans-serif;
//$secondary-font:'Poppins', sans-serif;
$secondary-font:'M PLUS Rounded 1c', sans-serif;
$extra-font:'Hind', serif;
